# Auto detect text files and perform LF normalization
* text=auto
Assets/shed_tex/** filter=lfs diff=lfs merge=lfs -text
Assets/ShedParts/** filter=lfs diff=lfs merge=lfs -text
Assets/UnityTechnologies/** filter=lfs diff=lfs merge=lfs -text
Assets/the_shed.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/** filter=lfs diff=lfs merge=lfs -text
